*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #f9f7f5;
}
input,
select {
    outline: 0 !important;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select::-webkit-inner-spin-button,
select::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
h2 {
    font-weight: bold;
    font-size: 18px;
    padding: 50px 0px 0px 50px;
}
h3 {
    font-weight: normal;
    font-size: 16px;
    font-weight: 500;
}

.sidebar__date {
    background-color: white;
    box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.03),
        4px 4px 4px rgba(0, 0, 0, 0.03);
}

.date-field {
    padding-bottom: 20px;
}

.sidebar__date-calendar {
    display: inline-block;
    position: relative;
    background-image: url('../img/calendar1.png');
    background-repeat: no-repeat;
    background-position: right bottom 5px;
    background-size: 30px 30px;
    margin-bottom: 8px;
    border-bottom: 2px solid #bdbdbd;
    width: 80%;
    height: 50px;
    margin-left: 50px;
}
input[type='date'] {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    height: 30px;
    opacity: 0;
}
.sidebar__date-calendar-text {
    position: absolute;
    left: 8px;
    bottom: 4px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    color: black;
}

.sidebar__converter {
    background-color: white;
    margin-top: 20px;
}

.sidebar__converter-form {
    padding: 20px 0px 30px 50px;
}
.sidebar__converter-form-UAH {
    position: relative;
}
.sidebar__converter-form-UAH-span {
    background-color: #367a4d;
    display: inline-block;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 5px;
}

.sidebar__converter-form-UAH-number {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 78%;
    border: none;
    border-bottom: 2px solid #bdbdbd;
}

.sidebar__converter-form-currencies {
    margin-top: 20px;
}
.input-close {
    position: absolute;
    right: 25px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.input-close:hover {
    opacity: 1;
}
.input-close:before,
.input-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 1px;
    background-color: #333;
}
.input-close:before {
    transform: rotate(45deg);
}
.input-close:after {
    transform: rotate(-45deg);
}
.sidebar__converter-form-currencies {
    margin-top: 30px;
}

.sidebar__converter-form-currencies > select {
    border: none;
    border-bottom: 2px solid #bdbdbd;
    width: 50%;
    padding-bottom: 2px;
    margin-right: 20px;
}
.sidebar__converter-form-currencies > input {
    border: none;
    border-bottom: 2px solid #bdbdbd;
    width: 35%;
}
.sidebar__converter-form-button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: white;
    color: #367a4d;
    border: solid 1px #367a4d;
    margin-top: 30px;
    padding: 5px 30px;
    text-transform: uppercase;
}
.sidebar__converter-form-button:hover {
    background-color: #367a4d;
    color: white;
    border: solid 1px white;
}

.table__block {
    background-color: white;
}

.table__title {
    width: 100%;
    box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.03),
        4px 4px 4px rgba(0, 0, 0, 0.03);
    padding-bottom: 10px;
}

.table__title > h2 {
    padding-top: 45px;
}

.table__date {
    padding: 20px 0px 0px 50px;
}

.table-custom {
    margin: 30px auto;
    width: 80%;
    text-align: center;
}
thead {
    background-color: #367a4d;
    color: white;
}
.table-text-copyright {
    padding: 20px 0px 50px 50px;
}
